<div class="pin error hidden">Only maximum 5 hotels can be compared in the same time.</div>
<header id="main-header">
    <h1 class="title">Compare Hotels</h1>
    <button type="button" class="info" title="See our information section"></button>
</header>
<section id="main-section">
    <header class="search header">
        <div class="details">
            <div class="location">
                <span class="label static">Location</span>
                <span class="city point-out"><%= obj['destinationName']%></span>
            </div>
            <div class="duration">
                <span class="label static">Duration of stay</span>
                <span class="nights point-out"></span>
                <span class="date value">(<%=obj.formatted_checkIn%>-<%=obj.formatted_checkOut%>)</span>
            </div>
            <div class="rooms">
                <span class="label static">Guests / Rooms</span>
                <span class="rooms point-out"><%= obj.guests == 1 ? obj.guests +' guest' : obj.guests + ' guests' %>, <%= obj.rooms == 1 ? obj.rooms +' room' : obj.rooms + ' rooms' %></span>
            </div>
            <button type="button" class="button action edit">Change current search</button>
        </div>
    </header>
    <aside class="sort-container">
        <div class="options">
            <span class="title">
                Sort by
            </span>
            <button class="push-button price active" data-type="highRate" type="button" title="Sort by Price">Price</button>
            <button class="push-button stars" data-type="hotelRating" type="button" title="Sort by Stars">Stars</button>
            <button class="push-button review-score" data-type="tripAdvisorRating" type="button" title="Sort by Review Score">Review Score</button>
            <div class="trips dropdown distance">
                <div class="element">
                    <div class="top passive">
                        <span class="value">Distance from</span>
                        <span class="arrow"></span>
                    </div>
                    <ul class="options overlap">
                        <li class="top action">
                            <span class="value">Distance from</span>
                            <span class="arrow"></span>
                        </li>
                        <li class="separated action">Test</li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="pagination top"></div>
    <div id="results"></div>
    <div class="pagination bottom"></div>
</section>
