<div class="header">
    <h2>Compare against</h2>
    <button type="button" class="reset" title="Reset your options"></button>
</div>
<ul class="criterias">
    <li class="checkbox trips price active blocked">
        <input type="hidden" id="check-price" value="false" />
        <div class="check"></div>
        <span class="label">Price</span>
    </li>
    <li class="checkbox trips stars active blocked">
        <input type="hidden" id="check-stars" value="false" />
        <div class="check"></div>
        <span class="label">Stars</span>
    </li>
    <li class="checkbox trips tripadvisor active blocked">
        <input type="hidden" id="check-tripadvisor" value="false" />
        <div class="check"></div>
        <span class="label">TripAdvisor Ratings</span>
    </li>
    <li class="checkbox trips distance">
        <input type="hidden" id="check_distance" />
        <div class="check"></div>
        <span class="label">Distance from downtown</span>
    </li>
</ul>
<ul class="categories-list">
    <li class="checkbox trips categories blocked" data-target="facilities-container">
        <div class="check"></div>
        <span class="label">Facilities</span>
    </li>
</ul>
<div class="facilities-container filters hidden">
    <ul class="options">
        <% _.map(Object.keys(obj.facilities), function(key){ %>
        <% if(obj.facilities[key].compare_option){ %>
        <li class="<%= obj.facilities[key].value %> option checkbox trips unchecked <%= obj.facilities[key].value ? 'active' : '' %>">
            <input type="hidden" id="<%= key %>" value="<%= obj.facilities[key].value %>"/>
            <div class="check"></div>
            <span><%= obj.facilities[key].label %></span>
        </li>
        <% } %>
        <% }) %>
    </ul>
</div>
