<%
var i; optionsArray = '';
for(i=1;i<=30;i++){
    optionsArray += '<li class="action" data-value="'+i+'">'+i+'</li>';
}
%>
<div class="api error hidden">We have encountered a problem. Please contact support.</div>
<div class="loading hidden">
    <img src="images/circling-squares-with-trail.gif" alt="loading..." />
</div>
<header id="main-header">
    <h1 class="title">Search hotels that match your criteria</h1>
    <button type="button" class="info" title="See our information section"></button>
</header>
<section id="main-section">
    <form class="trips" action="" method="get" accept-charset="utf-8">
        <fieldset id="search-wrapper">
        </fieldset>
        <fieldset class="check-in-options with three">
            <div class="graphic out cell">
                <label class="default label" for="check-in-month">Check-in Date</label>
                <div class="input-container default check-date">
                    <input class="in default month" type="text" name="check-in-month" id="check-in-month" value="" autocomplete="off"/>
                    <input class="in default day" type="text" name="check-in-day" id="check-in-dd" value="" autocomplete="off"/>
                    <input class="in default year" type="text" name="check-in-year" id="check-in-year" value="" autocomplete="off"/>
                </div>
                <button title="Fill with today" type="button" class="date setter today"></button>
            </div>
            <div class="graphic in cell">
                <label class="default label" for="check-out-month">Check-out Date</label>
                <div class="input-container default check-date">
                    <input class="out default month" type="text" name="check-out-month" id="check-out-month" value="" autocomplete="off"/>
                    <input class="out default day" type="text" name="check-out-day" id="check-out-dd" value="<%=obj.checkOut.getDate()%>" autocomplete="off"/>
                    <input class="out default year" type="text" name="check-out-year" id="check-out-year" value="<%=obj.checkOut.getFullYear()%>" autocomplete="off"/>
                </div>
                <button title="Fill with tomorrow" type="button" class="date setter tomorrow"></button>
            </div>
            <div class="cell checkbox trips no-date helper">
                <input type="hidden" id="no-specific-date"/>
                <div class="check"></div>
                <span class="label">I don't have a specific date</span>
            </div>
        </fieldset>
        <fieldset class="options">
            <div class="trips dropdown guests">
                <span class="label">Guests</span>
                <div class="element">
                    <div class="top passive">
                        <span class="value" data-target="guests">2 Adults (1 Room)</span>
                        <span class="arrow"></span>
                    </div>
                    <ul class="options overlap">
                        <li class="top action">
                            <span class="value">2 Adults (1 Room)</span>
                            <span class="arrow"></span>
                        </li>
                        <li class="separated action preset" data-value="1">1 Adult</li>
                        <li class="separated action preset hidden" data-value="2">2 Adults (1 Room)</li>
                        <li class="separated action" data-value="more">More options</li>
                    </ul>
                </div>
            </div>
            <div class="trips dropdown hidden rooms">
                <span class="label">Rooms</span>
                <div class="element">
                    <div class="top passive">
                        <span class="value" data-target="rooms">1</span>
                        <span class="arrow"></span>
                    </div>
                    <ul class="options overlap">
                        <li class="top action">
                            <span class="value">1</span>
                            <span class="arrow"></span>
                        </li>
                        <%= optionsArray %>
                    </ul>
                </div>
            </div>
            <div class="trips dropdown hidden adults">
                <span class="label">Adults</span>
                <div class="element">
                    <div class="top passive">
                        <span class="value" data-target="adults">1</span>
                        <span class="arrow"></span>
                    </div>
                    <ul class="options overlap">
                        <li class="top action">
                            <span class="value">1</span>
                            <span class="arrow"></span>
                        </li>
                        <%= optionsArray %>
                    </ul>
                </div>
            </div>
            <div class="trips dropdown hidden children">
                <span class="label">Children</span>
                <div class="element">
                    <div class="top passive">
                        <span class="value" data-target="children">0</span>
                        <span class="arrow"></span>
                    </div>
                    <ul class="options overlap">
                        <li class="top action">
                            <span class="value">0</span>
                            <span class="arrow"></span>
                        </li>
                        <%
                        var i; optionsArray = '';
                        for(i=1;i<=10;i++){
                            optionsArray += '<li class="action" data-value="'+i+'">'+i+'</li>';
                        }
                        %>
                        <%= optionsArray %>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset class="comparisson" id="comparisson-wrapper">
        </fieldset>
        <input class="button action search" type="submit" name="search" id="search" value="Search &amp; Compare" title="Proceed to next step" />
    </form>
</section>
