<%
    var i, l, res;
%>
<div class="hotel photos">
</div>
<div class="details-container">
	<div class="duration hotel details">
		<span class="label">Duration of stay: </span>
		<span class="content date-value"><%=obj.search_options.formatted_checkIn%> - <%=obj.search_options.formatted_checkOut%></span>
	</div>
	<div class="rooms-choosed hotel details">
		<span class="label">Guests / Rooms</span>
		<span class="content room"><%= obj.search_options.guests == 1 ? obj.search_options.guests +' guest' : obj.search_options.guests + ' guests' %>, <%= obj.search_options.rooms == 1 ? obj.search_options.rooms +' room' : obj.search_options.rooms + ' rooms' %></span>
	</div>
    <div class="location hotel details">
        <span class="label">Location</span>
        <span class="content city point-out"><%= obj.city %>,</span>
        <span class="content district value"><%= obj.address %></span>
    </div>
    <div class="price hotel details">
        <span class="label">Price range</span>
        <span class="content currency"></span>
        <span class="content small price point-out">Not supported</span>
        <span class="content currency"></span>
        <span class="content large price point-out">Not supported</span>
    </div>
    <% if(obj.facilities) { %>
    <div class="facilities hotel details">
        <span class="label">Facilities</span>
        <%
        res = '';
        res+='<span>'+obj.facilities[0]+'</span>, ';
        res+='<span>'+obj.facilities[1]+'</span>, ';
        %>
        <div class="content facilities summary"><%=res%></div>
        <%
        i = 0; l = obj.facilities.length;
        res = '';
        res = '<ul>';
        while(i < l){
            res+='<li>'+obj.facilities[i]+'</li>';
            i++;
        }
        res += '</ul>';
        %>
        <div class="content facilities extra"><%=res%></div>
        <button class="view all"><%=l-2%> more &gt;</button>
        <button class="view collapsed">&lt; collapse</button>
    </div>
    <% } %>
    <% if(obj.rooms) { %>
    <div class="rooms hotel details">
        <span class="label">Room types</span>
        <%
        res = '';
        res+='<span>'+obj.rooms[0].name+'</span>, ';
        res+='<span>'+obj.rooms[1].name+'</span>, ';
        %>
        <div class="content rooms summary"><%=res%></div>
        <%
        i = 0; l = obj.rooms.length;
        res = '<ul>';
        while(i < l){
            res+='<li>'+obj.rooms[i].name+'</li>';
            i++;
        }
        res += '</ul>';
        %>
        <div class="content rooms extra"><%=res%></div>
        <button class="view all"><%=l-2 %> more &gt;</button>
        <button class="view collapsed">&lt; collapse</button>
    </div>
    <% } %>
</div>
<div class="description-container hotel details">
    <span class="label">Description</span>
    <span class="content description"><%= obj.description %><button class="read more" title="Show all the description we have for this hotel.">... read more &gt;</button><button class="read less" title="Show all the description we have for this hotel.">&lt; see less</button></span>
</div>
<div class="actions">
    <div class="action-wrapper">
        <a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a>
    </div>
    <div class="action-wrapper">
        <button type="button" class="button action compare" title="Compare with other hotels in the area">Compare</button>
        <span class="description">compare to other hotels in the same area</span>
</div>
