<%
if( obj.id !== undefined ) {
%>
<ul class="hotel info column">
    <li class="header">
        <a href="#hotel/<%=obj.hotelId %>"><%= obj.name %></a>
    </li>
    <li class="radio trips pin">
        <input type="hidden" name="pinned" value="<% obj.pinned %>" />
        <span class="label"><%= obj.pinned ? 'hotel pinned' : 'hotel unpinned'%></span>
        <div class="check"></div>
    </li>
    <li class="photos">
        <div class="images">
            <img src="<%=obj.images[0].thumbnailUrl%>" height="90px" width="115px" alt="hotel image" />
        </div>
    </li>
    <li class="price"><span>Price </span><span class="currency"> $ </span><span class="value"><%=obj.highRate %></span></li>
    <li class="book"><a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a></li>
</ul>
<div class="close"></div>
<%
}
%>
