<ul id=<%=obj.hotelId %>>
    <li class="header">
        <%= obj.name %>
    </li>
    <li class="radio trips pin">
        <input type="hidden" name="pinned" value="false" />
        <span class="label">hotel pinned</span>
        <div class="check"></div>
    </li>
    <li class="price"><span> $ </span><span class="value">345</span></li>
    <li class="stars">
        <div class="rating" title="<%=obj.hotelRating %>">
            <%
            l = obj.hotelRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="tripadvisor-reviews">
        <div class="rating" title="<%=obj.tripAdvisorRating %>">
            <%
            l = obj.tripAdvisorRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="distance"><span><%=obj.proximityDistance %> km</span></li>
    <li class="photos">
        <button class="previous"></button>
        <div class="images">
            <img src="http://lorempixel.com/125/115/city" />
        </div>
        <button class="next"></button>
    </li>
    <li class="facilities category title">Facilities</li>
    <li class="wifi option"><span class="checkbox unchecked">true</span></li>
    <li class="parking option"><span class="checkbox unchecked">false</span></li>
    <li class="airport-shuttle option"><span class="checkbox unchecked">true</span></li>
    <li class="fitness-center option"><span class="checkbox unchecked">true</span></li>
    <li class="spa option"><span class="checkbox unchecked">true</span></li>
    <li class="see-all"></li>
    <li class="facilities category title">Hotel theme</li>
    <li class="family option"><span class="checkbox unchecked">true</span></li>
    <li class="business option"><span class="checkbox checked">true</span></li>
    <li class="romance option"><span class="checkbox unchecked">true</span></li>
    <li class="budget option"><span class="checkbox unchecked">true</span></li>
    <li class="see-all"></li>
    <li class="book action"><button type="button" class="button book-action" title="Book for this hotel">Book now</button></li>
</ul>
