<ul id=<%=obj.hotelId %> class="result">
    <li class="header short" title="<%=obj.name %>">
		<%= obj.name %>
    </li>
    <li class="radio trips pin">
        <%if(obj.showPinButton){%><input type="hidden" name="pinned" value="<%=obj.pinned%>" />
        <span class="label"><%=obj.pinned ? 'comparing' : 'compare' %></span>
        <div class="check"></div><%}%>
    </li>
    <li class="price"><span> $ </span><span class="value"><%=obj.highRate %></span></li>
    <li class="stars">
        <div class="rating" title="<%=obj.hotelRating %>">
            <%
            l = obj.hotelRating;
            for(i = 0; i < 5; i++) {
                if(l > i && (i + 0.5 != l) ) {
                %><span class="active"></span><%
                } else if(l > i && (i + 0.5 == l) ) {
                %><span class="half-star"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="tripadvisor-reviews">
        <div class="rating" title="<%=obj.tripAdvisorRating %>">
            <%
            l = obj.tripAdvisorRating;
            for(i = 0; i < 5; i++) {
                if(l > i && (i + 0.5 != l) ) {
                    %><span class="active"></span><%
                    } else if(l > i && (i + 0.5 == l) ) {
                    %><span class="half-circle"></span><%
                    } else {
                    %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="distance"><span><%=obj.proximityDistance.toFixed(2) %> km</span></li>
    <li class="photos">
    </li>
    <li class="facilities category title">Facilities</li>

    <% _.map(Object.keys(obj.search_options.facilities), function(key){%>
    <% if(obj.search_options.facilities[key].value || obj.search_options.additionalFacilities){%>
    <li class="<%=key%> option">
        <% if(obj.search_options.facilities[key].value){%>
        <span class="checkbox <%=obj.facilities.indexOf(obj.search_options.facilities[key].api_label)>=0 ? 'checked' : 'unchecked'%> "></span>
            <%}%>
        </li>
    <% }}) %>
    <li></li>
    <li class="book"><a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a></li>
</ul>
