<ul id=<%=obj.hotelId %> class="result">
    <li class="header short" title="<%=obj.name %>">
		<%= obj.name %>
    </li>
    <li class="radio trips pin">
        <input type="hidden" name="pinned" value="<%=obj.pinned%>" />
        <span class="label"><%=obj.pinned ? 'hotel pinned' : 'hotel unpined' %></span>
        <div class="check"></div>
    </li>
    <li class="price"><span> $ </span><span class="value"><%=obj.highRate %></span></li>
    <li class="stars">
        <div class="rating" title="<%=obj.hotelRating %>">
            <%
            l = obj.hotelRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="tripadvisor-reviews">
        <div class="rating" title="<%=obj.tripAdvisorRating %>">
            <%
            l = obj.tripAdvisorRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="distance"><span><%=obj.proximityDistance.toFixed(2) %> km</span></li>
    <li class="photos">
    </li>
    <li class="facilities category title">Facilities</li>
    <% if((obj.search_options.facilities.wifi == true)){%> <li class="wifi option"><span class="checkbox <%=obj.facilities.indexOf("Free WiFi")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <% if((obj.search_options.facilities.parking == true)){%> <li class="parking option"><span class="checkbox <%=obj.facilities.indexOf("Free self parking")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <% if((obj.search_options.facilities.airport_shuttle == true)){%> <li class="airport-shuttle option"><span class="checkbox <%=obj.facilities.indexOf("Airport transportation (surcharge)")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <% if((obj.search_options.facilities.fitness_center == true)){%> <li class="fitness-center option"><span class="checkbox <%=obj.facilities.indexOf("24-hour fitness facilities")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <% if((obj.search_options.facilities.spa == true)){%> <li class="spa option"><span class="checkbox <%=obj.facilities.indexOf("Full-service spa")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <li class="see-all"></li>
    <li class="book"><a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a></li>
</ul>
