<ul id=<%=obj.hotelId %> class="result">
    <li class="header short" title="<%=obj.name %>">
		<%= obj.name %>
    </li>
    <li class="radio trips pin">
        <%if(obj.showPinButton){%><input type="hidden" name="pinned" value="<%=obj.pinned%>" />
        <span class="label"><%=obj.pinned ? 'comparing' : 'compare' %></span>
        <div class="check"></div><%}%>
    </li>
    <li class="price"><span> $ </span><span class="value"><%=obj.highRate %></span></li>
    <li class="stars">
        <div class="rating" title="<%=obj.hotelRating %>">
            <%
            l = obj.hotelRating;
            for(i = 0; i < 5; i++) {
                if(l > i && (i + 0.5 != l) ) {
                %><span class="active"></span><%
                } else if(l > i && (i + 0.5 == l) ) {
                %><span class="half-star"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="tripadvisor-reviews">
        <div class="rating" title="<%=obj.tripAdvisorRating %>">
            <%
            l = obj.tripAdvisorRating;
            for(i = 0; i < 5; i++) {
                if(l > i && (i + 0.5 != l) ) {
                    %><span class="active"></span><%
                    } else if(l > i && (i + 0.5 == l) ) {
                    %><span class="half-circle"></span><%
                    } else {
                    %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="distance"><span><%=obj.proximityDistance.toFixed(2) %> km</span></li>
    <li class="photos">
    </li>
    <li class="facilities category title">Facilities</li>
    <li class="wifi option"><% if((obj.search_options.facilities.wifi == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Free WiFi")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="breakfast option"><% if((obj.search_options.facilities.breakfast == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Free breakfast")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="parking option"><% if((obj.search_options.facilities.parking == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Free self parking")>=0 ? 'checked' : 'unchecked'%> "></span></li><%}%>
    <li class="airport-shuttle option"><% if((obj.search_options.facilities.airport_shuttle == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Airport transportation (surcharge)")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="fitness-center option"><% if((obj.search_options.facilities.fitness_center == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Fitness facilities")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="option"></li>
    <% if((obj.showAdditionalFacilities)){%>
    <li class="spa option"><% if((obj.search_options.facilities.spa == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Spa services on site")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="pool option"><% if((obj.search_options.facilities.pool == true)){%> <span class="checkbox <%=(obj.facilities.indexOf("Outdoor pool") || obj.facilities.indexOf("Indoor pool"))>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="free_parking option"><% if((obj.search_options.facilities.free_parking == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Free Hotel Parking")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="kitchen option"><% if((obj.search_options.facilities.kitchen == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Full Kitchen")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <li class="pets_allowed option"><% if((obj.search_options.facilities.pets_allowed == true)){%> <span class="checkbox <%=obj.facilities.indexOf("Pets allowed")>=0 ? 'checked' : 'unchecked'%> "></span><%}%></li>
    <%}%>
    <li class="book"><a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a></li>
</ul>
