<ul id=<%=obj.hotelId %>>
    <li class="header" title="<%=obj.name %>">
        <%= obj.name %>
    </li>
    <li class="radio trips pin">
        <input type="hidden" name="pinned" value="false" />
        <span class="label">hotel pinned</span>
        <div class="check"></div>
    </li>
    <li class="price"><span> $ </span><span class="value">345</span></li>
    <li class="stars">
        <div class="rating" title="<%=obj.hotelRating %>">
            <%
            l = obj.hotelRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="tripadvisor-reviews">
        <div class="rating" title="<%=obj.tripAdvisorRating %>">
            <%
            l = obj.tripAdvisorRating;
            for(i = 0; i < 5; i++) {
                if(l > i) {
                %><span class="active"></span><%
                } else {
                %><span></span><%
                }
            } %>
        </div>
    </li>
    <li class="distance"><span><%=obj.proximityDistance.toFixed(2) %> km</span></li>
    <li class="photos">
    </li>
    <li class="facilities category title">Facilities</li>
    <li class="wifi option"><span class="checkbox unchecked">true</span></li>
    <li class="parking option"><span class="checkbox unchecked">false</span></li>
    <li class="airport-shuttle option"><span class="checkbox unchecked">true</span></li>
    <li class="fitness-center option"><span class="checkbox unchecked">true</span></li>
    <li class="spa option"><span class="checkbox unchecked">true</span></li>
    <li class="see-all"></li>
    <li class="book"><a href="<%=obj.deepLink %>" target="_blank" class="button action book" title="Book for this hotel">Book now</a></li>
</ul>
